<!DOCTYPE html>
  <head>
        <title>AirBnB clone</title>
        <link rel="stylesheet" href="../static/styles/cheker1.css">
  </head>
  <body>
        <header></header>
        <div class="container">
          <h2>Code Project</h2>
            <form>
                <label for="nombres"></label>
                <input type="tex"id="nombre"placeholder="Enter your project code">
            </form>
            <div class="btn">Task 1
              <ul>
                    <div class="btn2"></div>
                    <div class="btn1"></div>
              </ul>
        </div>
  </body>
</html>
