<!DOCTYPE html>
      <head>
            <title>Checke checke checker </title>
            <link rel="stylesheet" href="../static/styles/cheker3.css">
      </head>
      <body>
            <header></header>
            <div class="container">
                  <div class="link">Hack day: Checker challenge!</div>
                  <div class="load">
                        <img src="../static/Images/Logo2.png" width="130";>
                  </div>
                  <div class="btn">Task 1
                        <ul>
                              <div class="btn2"></div>
                              <div class="btn1"></div>
                        </ul>
                  </div>
            </div>

      </body>
</html>

