<!DOCTYPE html>
    <head>
        <title>Checker</title>
        <link rel="stylesheet" href="../static/styles/Registro.css">
    </head>
    <body>
        <div class="container">
            <form>
                <label for="nombres">Project_code</label>
                <input type="tex"id="nombre"placeholder="Enter a project code">
                   
                <label for="Apellidos">Api_key:</label>
                <input type="Apellidos"id="Apeliidos"placeholder="Enter your Api key">
            
                <label for="">Password:</label>
                <input type="password">
                <input type="submit"value"enviar">
            </form>
        </div>
    </body>
</html>
