<!DOCTYPE html>
    <head>
        <title>Checker</title>
        <link rel="stylesheet" href="../static/styles/Registro.css">
    </head>
    <body>
        <div class="container">
            <form>
                <h2>Register</h2>
                <label for="nombres">Project_code</label>
                <input type="tex"id="nombre"placeholder="Enter a project code">
                   
                <label for="Apellidos">Api_key:</label>
                <input type="Apellidos"id="Apeliidos"placeholder="Enter your Api key">
            
                <label for="">Password:</label>
                <input type="password">
                <div class="btn">Task 1
                    <ul>
                          <div class="btn2"></div>
                          <div class="btn1"></div>
                    </ul>
            </form>
            </div>
        </div>
    </body>
</html>
