body {
	background: #2d2c41;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.container {
    width: 200%;
    height: 400%;
    padding: 30px 45px 100px 42px;
    max-width: 660px;
    margin: 100px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.container .link {
	display: block;
	padding: 5px 5px 15px 0px;
	color: #4D4D4D;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
}
body .btn,
  body .btn2 {
    width: 300px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: rgba(255,255,255,0.9);
    border-radius: 20px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
  }
  body .btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0.8;
  }
  .container {
    padding: 30px 45px 50px 42px;
    border:2px solid #CC71F7;
}
  @-webkit-keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.caja {
    grid-template-columns: auto auto;
    grid-template-rows: -5px -5px; 
    height: 165px;
    align-items: center;
    color: wheat;
    }
.circulo {
    margin-top: 20px;
    height: 1px;
    padding: 40px;
    margin: 10px;
    float: left;
    border: 2px solid red;
    border-radius: 10px;
    justify-content: 20px 20px 20px 20px;
  }