body {
	background: #2d2c41;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container .link {
	display: block;
	padding: 5px 5px 15px 0px;
	color: #4D4D4D;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
}
div.container img {
    margin-left: -0px;
}
.load {
  margin-left: 285px;
    width:100px;
    height:100px;
  }
  .load img {
      border: 0;
      margin: 0;
      width: 100%;
      animation: spin 2s ease infinite}
     
  
  
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(40%)}
    50%{transform:translate(40%, 40%)}
    75%{transform:translate(0, 40%)}
  
    
  }
  body .btn,
  body .btn2 {
    width: 300px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: rgba(255,255,255,0.9);
    border-radius: 20px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
  }
  body .btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0.8;
  }
  .container {
    padding: 30px 45px 50px 42px;
    border:2px solid #CC71F7;
}
  @-webkit-keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;

  }