body {
	background: #2d2c41;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.container {
    padding: 30px 45px 50px 42px;
    max-width: 660px;
    margin: 100px auto 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #CC71F7;
}

form{
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
  }
  input,textarea{
    margin-bottom:20px;
    width:100%;
    padding:10px;
    border:2px solid #57FBDB;  
    box-sizing: border-box;
    border-radius: 10px;
  }
  input:focus{
    border:2px solid #CC71F7;
  }
  input[type="submit"]{
    background:#9B5AC9;
    color: blanchedalmond;
    border:none;
  }
  input[type="submit"]:hover{
    background:#D299F9;
    cursor:pointer;
  }